::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #2e2e2e;
}
::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #6b6b6b #2e2e2e;
}
